Event Title,Start Date,Start Time,End Date,End Time,Description,Location

,"2023-12-19",06:00,"2023-12-19",12:00,"Intensive Revision for Theory in Computing Exam","Standerton, Mpumalanga, South Africa"
,"2023-12-19",12:00,"2023-12-19",13:00,"Lunch and Break","Standerton, Mpumalanga, South Africa"
,"2023-12-19",13:00,"2023-12-19",14:00,"Exercise (Skipping Rope)","Standerton, Mpumalanga, South Africa"
,"2023-12-19",14:00,"2023-12-19",15:00,"Programming Projects","Standerton, Mpumalanga, South Africa"
,"2023-12-19",15:00,"2023-12-19",16:00,"Job Applications","Standerton, Mpumalanga, South Africa"
,"2023-12-19",16:00,"2023-12-19",18:00,"Dinner and Free Time","Standerton, Mpumalanga, South Africa"
,"2023-12-19",18:00,"2023-12-19",20:00,"Intensive Revision for Theory in Computing Exam","Standerton, Mpumalanga, South Africa"
,"2023-12-19",20:00,"2023-12-19",21:00,"Programming Projects","Standerton, Mpumalanga, South Africa"
,"2023-12-19",21:00,"2023-12-19",22:00,"Sleep Preparation","Standerton, Mpumalanga, South Africa"